.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-controls{

}

.App-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
}

ul{
  list-style-type: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
